.header-container {
    background-color: #007bff;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
}

.header-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.header-content>ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    right: 0;
    margin: 0;
    padding: 15px 0;
}

.header-content>ul>li {
    padding: 5px 0 5px 0;
    margin-left: 35px;
    border: 1px #fff solid;
    border-radius: 3px;
    cursor: pointer;
}

.header-router {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    transition: .3s;
}

.header-content>ul>li:hover>a {
    background-color: #fff;
    color: #007bff;
}